@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-ExtraBold.ttf');
    font-weight: 800;
}

html,
body {
    height: 100%;
    margin: 0;
    font-size: 14px;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 0px 3fr;
}

body.menu_active {
    grid-template-columns: 1fr 2fr;
    animation: openMenu 0.3s;
}

body.menu_inactive {
    animation: closeMenu 0.3s;
}

@keyframes openMenu {
    from {
        grid-template-columns: 0px 3fr;
    }

    to {
        grid-template-columns: 1fr 2fr;
    }
}

@keyframes closeMenu {
    from {
        grid-template-columns: 1fr 2fr;
    }

    to {
        grid-template-columns: 0px 3fr;
    }
}

a {
    font-weight: 800;
}

sup {
    font-size: 0.5rem;
    transform:translateY(-0.25rem);
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-column: 2 / 2;
    max-width: 100vw;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 5.3rem;
    width: 100%;
    padding: 0 0;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}

#burger_b,
#burger_b_menu {
    margin: 0 2rem 0 1.3rem;
    cursor: pointer;
    transition: opacity 0.3s;
    width: 2rem;
}

svg {
    transform: scale( calc( 28 / 24 ) );
}

#burger_b_menu,
body.menu_active #burger_b {
    display: none;
}

body.menu_active #burger_b_menu {
    display: block;
}

#logoCont {
    margin: 0 0 0 1.3rem;
    position: relative;
}

#logoCont div {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -1.25rem;
    right: 0;
}

#logoCont div a {
    font-size: 1rem;
    font-weight: 200;
    text-decoration: none;
}

#logo {
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    line-height: 2.5rem;
    font-weight: 800;
    margin: 0 0 0 0;
    transition: all 0.3s;
    justify-self: center;
    text-align: center;
}

#search_b {
    margin: 0 0 0 auto;
    cursor: pointer;
    justify-self: end;
    z-index: 1;
    display: block;
}

#search_b.inactive{
    pointer-events: none;
}

#search_c {
    position: relative;
    margin: 0 1.3rem 0 2rem;
    display: flex;
    align-content: flex-end;
    right:0;
}

#search_form {
    display: none;
    position: relative;
    width: 100%;
    padding: 0;
}

#search {
    width: 100%;
    padding: 0;
    cursor: pointer;
    height: 3rem;
    border: 1px solid;
    border-radius: 0.3rem;
    padding-left: 4.3rem;
    outline: none;
    box-sizing: border-box;
    font-size: 1.2rem;
}

#search.error {
    border: 2px solid red !important;
}


#search_l {
    font-size: 1.2rem;
    position: absolute;
    align-self: center;
    left: 4.3rem;
    transition: all 0.3s;
}

#search_exit_b {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    align-self: center;
}


header.active {
    grid-template-columns: 0px auto 1fr;
    animation: searchopen 0.6s ease;
}

@keyframes searchopen {
    from {
        grid-template-columns: 1fr 1fr 1fr;
    }

    to {
        grid-template-columns: 0px 1fr 20fr;
    }
}

header.inactive {
    animation: searchclose 0.3s ease;
}

@keyframes searchclose {
    from {
        grid-template-columns: 0px 1fr 20fr;
    }

    to {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

header.active #search_b {
    position: absolute;
    align-self: center;
    left: 1rem;
}

header.active #search_exit_b {
    display: block;
}

header.active #search_form {
    display: flex;
}

header.active #burger_b, header.active #burger_b_menu {
    opacity: 0;
    pointer-events: none;
}


#search:focus {
    border-width: 2px;
}

#search:focus+#search_l {
    transform: translate(-40px, -18px) scale(0.875);
    padding: 0 0.3rem;
    transition: all 0.3s;
}

#layers {
    margin: 0.7rem 1.3rem 0.3rem 1.3rem;
    display: flex;
    flex-wrap: wrap;
}

#layers input {
    display: none;
}

#layers label {
    font-size: 1rem;
    font-weight: 800;
    border: 1px solid;
    border-radius: 100px;
    padding: 0.25rem 1.3rem 0.25rem 1rem;
    width: auto;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    margin-right: 1rem;
    margin-bottom: 0.7rem;
    transition: all 0.3s;
}

#layers label:hover {
    opacity: 0.6;
}

#layers input:checked+label:hover {
    opacity: 1;
}

#layers label svg {
    transform: scale(0.9);
    margin: 0 0.7rem 0 0;
}

#map {
    display: block;
    position: relative;
    flex: 1 1 auto;
    margin: 0 1.3rem 1.3rem 1.3rem;
    border-radius: 1rem;
    filter: grayscale(100%) contrast(1.2);
    border: 1px solid #ddd;
    outline: none;
}

#map_p {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 20% 0 20%;
    background: url(/img/privacy-background.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
}

#map_p p {
    margin-top: 15px;
    display: none;
}

#map_p_b {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
    border: 1px solid;
    border-radius: 100px;
    padding: 0.5rem 1.3rem 0.5rem 1rem;
    width: fit-content;
    letter-spacing: 0.1px;
    margin: 1rem 0 0.7rem auto;
    transition: all 0.3s;
    display: none;
}

#map_p_b:hover {
    box-shadow: 0px 0.1rem 0.2rem 0.15rem rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 0.05rem 0.1rem rgba(0, 0, 0, 0.3));
}

#dl_b_c {
    position: absolute;
    bottom: 2.7rem;
    right: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab {
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0.3rem 0.7rem 0.25rem rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 0.08rem 0.25rem rgba(0, 0, 0, 0.3));
    z-index: 1;
    transition: all 0.3s;
}

.fab.inactive, .fab.inactive ~ .fab_small {
    box-shadow: none;
    filter: none;
    pointer-events: none;
    cursor:default;
}

.fab.inactive:hover, .fab.inactive ~ .fab_small:hover {
    box-shadow: none;
    filter: none;
    transform: none;
}

.fab_small {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 800;
    font-size: 1rem;
    transition: all 0.3s ease;
}

#dl_b_c.active .fab_small {
    box-shadow: 0px 0.3rem 0.7rem 0.25rem rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 0.08rem 0.25rem rgba(0, 0, 0, 0.3));
}

#dl_b_c.active #dl_dxf_b {
    bottom: 6.7rem;
}

#dl_b_c.active #dl_svg_b {
    bottom: 11.3rem;
}

#dl_b_c.active #dl_pdf_b {
    bottom: 16rem;
}


.fab:hover, .fab_small:hover {
    box-shadow: 0px 0.5rem 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 0.2rem 0.25rem rgba(0, 0, 0, 0.3));
    transform: scale(1.05);
}

.fab_large {
    width: 8rem;
    height: 8rem;
    border-radius: 2.3rem;
    position: absolute;
    bottom: 2.7rem;
    right: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0.3rem 0.7rem 0.25rem rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 0.08rem 0.25rem rgba(0, 0, 0, 0.3));
}

#menu {
    width: 31vw;
    min-width: 28.75rem;
    height: calc(100% - 2.7rem);
    position: absolute;
    transition: all 0.3s;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    border-radius: 0 1.3rem 1.3rem 0;
    transform: translateX(-100%);
    padding: 1.3rem;
}

#menu.active {
    transform: none;
}

#menu_scroll_cont {
    max-height: 70%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    /* scroll-shadows */
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
    transition: all 0.3s;
}

#menu h2 {
    padding: 0.7rem 0.7rem 0.7rem 1.3rem;
    height: 4.7rem;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 800;
}

#menu_subtitle {
    padding: 0 0.7rem 0.7rem 1.3rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

#menu_footer {
    width: calc(100% - 4rem);
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0px;
}

#menu_footer p {
    margin-top: 0.7rem;
    font-size: 1rem;
}

#menu_footer p a {
    font-weight: 400;
}

.menu_item {
    display: block;
    position: relative;
    height: 2rem;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.3rem 2rem 1.3rem 1.3rem;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3rem;
}

p#counter {
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1.7rem;
}

#counter_no{
    font-weight: 800;
}

.menu_item svg:first-of-type {
    margin-left: 1.3rem;
    margin-right: 1rem;
}
.menu_item svg:last-of-type {
    visibility: hidden;
    margin-left: 1rem;
    margin-right: 1.3rem;
    right:0;
    position: absolute;
}

.menu_item:hover svg:last-of-type {
    visibility:visible;
}

#menu_shadow{
    display: none;
}

#m_shop {
    display: none;
}

.dialog {
    position: absolute;
    display: flex;
    opacity: 0;
    flex-direction: column;
    min-width: 23.3rem;
    max-width: 46.7rem;
    max-height: 50vh;
    overflow: auto;
    border-radius: 2.3rem;
    padding: 2rem;
    top: 50%;
    transform: translateY(-50%);
    left: 5vw; 
    right: 5vw; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 99;
    animation: close_dialog 0.3s;
    pointer-events: none;
    transition: opacity 0.3s;
}

.dialog.active{
    opacity: 1;
    pointer-events: all;
}

.dialog a {
    text-decoration: none;
}

#dialog_shadow {
    display: block;
    opacity: 0;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: close_dialog 0.3s;
    z-index: 98;
    pointer-events: none;
    transition: opacity 0.3s;
}

.dialog.active ~ #dialog_shadow{
    opacity: 1;
    pointer-events: all;
}

.dialog svg {
    margin-bottom: 1.6rem;
}

.dialog h2 {
    font-size: 2rem;
    margin-bottom: 1.3rem;
}

#dl_progress {
    align-items: center;
    font-size: 1.2rem;
}

#dl_bar {
    position: relative;
    width: 80%;
    height: 0.4rem;
    border: 1px solid;
    border-radius: 0.4rem;
    margin-top: 0.5rem;
}

#dl_bar div {
    content: "";
    display: block;
    position: absolute;
    width: attr(data-width);
    height: 100%;
}

#dl_bar.stateless div {
    animation: stateless_load 3s linear infinite;
}

@keyframes stateless_load {
    0% {
        left:0;
        right:auto;
        width: 0;
    }
    49% {
        left:0;
        right:auto;
        width: 100%;
    }
    51% {
        left:auto;
        right:0;
        width: 100%;
    }
    100% {
        left:auto;
        right: 0;
        width: 0;
    }
}

#dl_status_percent {
    margin-top: 0.5rem;
    font-weight: 800;
}

#dl_ad {
    margin-top: 2.5rem;
    text-align: center;
}

#dl_scale {
    font-size: 1.2rem;
}

#dl_scale p {
    margin-bottom: 2rem;
}

.scale_opt {
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0 2rem;
    height: 4.75rem;
    border-bottom: solid 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

.scale_opt:hover{
    background-color: #aaa;
}

.dialog_b_cont {
    width: 100%;
    margin: 2rem 0 0 0;
    display: flex;
    gap: 0.7rem;
    justify-content: end;
}

.dialog_b {
    display: none;
    margin: 0.8rem 1rem;
    font-weight: 800;
    text-decoration: none;
}

.dialog_b.active {
    display: block;
}

#dl_err {
    align-items: center;
    font-size: 1.2rem;
    box-shadow: 0px 0.3rem 0.7rem 0.25rem rgba(0, 0, 0, 0.15);
    max-width: 40rem;
    max-height: 50vh;
}

#err_main {
    line-height: 1.5rem;
    font-weight: bold;
}

#err_help {
    font-size: 1rem;
    line-height: 0.5rem;
    font-weight: normal;

}

#err_log {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2rem;
    border: 2px #aaa solid;
    
}



#noscript {
    position: absolute;
    width: calc(100% - 2.7rem);
    padding: 1.3rem;
    background-color: yellow;
    bottom: 0;
    z-index: 99;
}

#legal p, #legal h3, #legal h4 {
    margin-bottom: 15px;
}

@media only screen and (max-width: 108.3rem) {
    body.menu_active {
        grid-template-columns: 0px 2fr;
        animation: none;
    }

    body.menu_active #menu {
        z-index: 2;
    }
    
    body.menu_inactive {
        animation: none;
    }

    #menu_shadow{
        display: block;
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity:0;
        pointer-events: none;
        transition: opacity 0.3s;
    }

    body.menu_active #menu_shadow{
        opacity:1;
        pointer-events: all;
    }
}

@media only screen and (max-width: 34rem) {
    #menu {
        width:calc( 90vw - 2.7rem );
        min-width: 0;
    }
}

@media (hover: none) {
    #layers label:hover {
        opacity: 1;
    }

    .menu_item svg:last-of-type {
        visibility:visible;
    }

  }
  